{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet" href="{% static "voting/portada.css" %}" />
{% endblock %}

{% block content %}
<br/>
<br/>
<header>
    <nav>
        <ul class='navegador'>
            <button class="panel" role='link' onclick="window.location='/admin'">Panel de Administracion</button>
            <button class='api' role='link' onclick="window.location='/doc'">API</button>
            <button class='censo' role='link' onclick="window.location='/census'">Censo</button>
            <button class='mixnet' role='link' onclick="window.location='/mixnet'">Mixnet</button>
            <button class='post' role='link' onclick="window.location='/postproc'">Postprocesado</button>
            <button class='almacen' role='link' onclick="window.location='/store'">Almacenamiento</button>
            <button class='voto' role='link' onclick="window.location='/voting'">Votacion</button>
        </ul>
    </nav>
</header>
<br/>

<body class='cuerpo'>
    <h1>DECIDE-GIRATINA-VOTACION</h1>
    <br/>

    <div class='portada'>
        <h2><u>Portada</u></h2>
        <p><strong>ID Opera: </strong>166</p>
        <p><strong>Curso escolar: </strong>2019/2020</p>
        <p><strong>Asignatura: </strong>Evolucion y Gestion de la Configuracion</p>
        <p><strong>Milestone: </strong>M4</p>
    </div>

    <div class='miembros'>
        <h2><u>Miembros del grupo</u></h2>
        <p>Juan Antonio de la Cruz Charro</p>
        <p>Manuel Recio Leal</p>
        <p>Jose Manuel Minuesa Reyes</p>
    </div>
<br/>
<br/>
</body>
{% endblock %}